<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table border="3">
        
        <tr colspan="2">
         <td>Number 1</td>
         <td><input type="number" name="txtname1" placeholder="enter the number 1"></td>
        </tr>
        
        <tr colspan="2">
         <td>Number 2</td>
         <td><input type="number" name="txtname2" placeholder="enter the number 2"></td>
        </tr>
        
        <tr>
         <td colspan="4" align="center">
            <input type="submit" name="btnsubmit" value="+">
            <input type="submit" name="btnsubmit" value="-">
            <input type="submit" name="btnsubmit" value="*">
            <input type="submit" name="btnsubmit" value="/">
         </td>

        </tr>
        <tr>
            <td  align="left">
                Result</td>
                <td>{{result}}</td>
        </tr>
        
        
        
        </table>
        
        </form>
</body>
</html>