<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}


        <table border="3">
        
        <tr>
         <td>First Name</td>
         <td><input type="text" name="fname" placeholder="enter the mail"></td>
        </tr>
        
        <tr>
         <td>Last Name</td>
         <td><input type="text" name="lname" placeholder="enter the password"></td>
        </tr>

        <tr>
            <td>Address</td>
            <td><input type="text" name="address" placeholder="enter the mail"></td>
        </tr>
        
        <tr>
            <td>Email</td>
            <td><input type="" name="email" placeholder="enter the mail"></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td><input type="number" name="contact" placeholder="enter the mail"></td>
        </tr>
        <tr>
            <td>
                 <input type="radio" name="gender" value="M">Male
             </td>
             <td>
                <input type="radio" name="gender" value="F">Female
             </td>
           </tr>


        <tr>
         <td colspan="2" align="center">
            <input type="submit" name="btnsubmit" value="submit">
         </td>
        </tr>    
        </table>
        
        </form>
<br><br>



        <table>
            <tr>
                <td>FullName:</td>
                <td>{{result}}</td>
            </tr>
            <tr>
                <td>details:</td>
                <td>{{result1}}</td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td>{{result2}}</td>
            </tr>
        </table>

</body>
</html>