<html>
<body>

<form method="post">
    {% csrf_token %}

<table border="3">

<tr>
    <td>District</td>
    <td>
        <select name="sel_district">
          <option value="sel">--select--</option>
          {% for i in district %}
          <option 
          {% if i.id == name.district.id %}
          selected
          {% endif %}
          value="{{i.id}}">{{i.district_name}}</option>
          {% endfor %}
        </select>	      
     </td>
   </tr> 
<tr>

<tr>
    <td>Place</td>
    <td><input type="text" name="txt_place" placeholder="enter the place" value="{{name.place_name}}"></td>
</tr>
<tr>
 <td colspan="2" align="center">
    <input type="submit" name="btnsubmit" value="Submit">
 </td>
</tr>
</table>


<br>
<table border="1">
    <tr>
        <td>SL NO</td>
        <td>District</td>
        <td>Place</td>
        <td>Action</td>
    </tr>
    {% for i in place %}
    <tr>
        <td>{{forloop.counter}}</td>
       <td>{{i.district.district_name}}</td> <!-- (inner join) -->
        <td>{{i.place_name}}</td>
        <td><a href="{% url 'Admin:deletedplace' i.id %}">Delete</a>
          <a href="{% url 'Admin:editplace' i.id %}">Edit</a></td>
    </tr>
    {% endfor %}
</table>


</form>

</body>
</html>